*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  background-color: #fffcff;
  background-size: 100%;
  background-image: repeating-linear-gradient(0deg, #e9e9e9, #e9e9e9 1px, transparent 1px, transparent 20px), repeating-linear-gradient(-90deg, #e9e9e9, #e9e9e9 1px, transparent 1px, transparent 20px);
  padding: 1em;
  color: #101010;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1em;
  width: 100%;
}
main h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3em;
}

.todo-list {
  background-color: #fffcff;
  border: solid 2px #939393;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo-list li:not(:last-child) {
  border-bottom: solid 2px #939393;
}
.todo-list > .todo-item {
  padding: 0.5em;
  display: flex;
  flex: 30px auto 10%;
  align-items: center;
  text-align: left;
}
.todo-list > .todo-item label:first-child {
  width: 30px;
  margin: 5px;
}
.todo-list > .todo-item div:nth-child(2) {
  width: 90%;
  margin: 5px;
}
.todo-list > .todo-item input[type=checkbox] {
  font-size: large;
}

.todo-filter {
  background-color: #fffcff;
  border-left: solid 2px #939393;
  border-right: solid 2px #939393;
  border-bottom: solid 2px #939393;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
}

.font-small {
  font-size: small;
}

.todo-control {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 0.2em;
  width: 100%;
}

.horizontal-line {
  position: relative;
}

.horizontal-line:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  background: #939393;
  content: "";
  width: 100%;
  display: block;
}

.btn {
  background: transparent;
  background-color: transparent;
  border: solid 2px #939393;
  cursor: pointer;
}

.todo-remove-item {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
}

.todo-remove-item::after,
.todo-remove-item::before {
  background-color: #272727;
  content: "";
  position: absolute;
  width: 26px;
  height: 4px;
  top: 16px;
}

.todo-remove-item::after {
  left: 4px;
  right: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo-remove-item::before {
  right: 4px;
  left: 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.todo-create {
  border: transparent;
  background: transparent;
  background-color: transparent;
  border: solid 2px #939393;
}

.todo-create,
.todo-btn {
  padding: 1em;
  position: relative;
}

.todo-btn::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #272727;
  height: 4px;
  margin-top: -2px;
  top: 50%;
  left: 8px;
  right: 8px;
  z-index: 10;
}

.todo-btn::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #272727;
  width: 4px;
  margin-left: -2px;
  left: 50%;
  top: 8px;
  bottom: 8px;
  z-index: 11;
}

.todo-filter-btn {
  border: none;
  padding: 0.5em;
  font-size: medium;
}

.border-all {
  border: solid 2px #939393;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 2px #939393;
  min-width: 32px;
  width: 32px;
  height: 32px;
  z-index: 98;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: block;
  position: relative;
  top: 2px;
  left: 2px;
  border: solid 1px #939393;
  min-width: 24px;
  width: 24px;
  height: 24px;
  z-index: 99;
}

.container input:checked ~ .checkmark::after,
.container input:checked ~ .checkmark::before {
  display: inline-block;
}

.checkmark::after,
.checkmark::before {
  background-color: #939393;
  content: "";
  position: relative;
  min-width: 32px;
  width: 32px;
  height: 1px;
}

.checkmark::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -5px;
  z-index: 100;
  top: -22px;
}

.checkmark::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 5px;
  top: -4px;
}

/*# sourceMappingURL=todos.css.map */
