.people {
    h1 {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    margin: 0 auto;
    width: 70%;
    margin-bottom: 1em;


    section {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 1em;

        ul {
            display: grid;
            grid-template-columns: 1;
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            li:first-child {
                border-top: 1px solid #FFF;
            }

            li {
                border-bottom: 1px solid #FFF;
                padding: 0.5em;

                .starships {

                    h4 {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    p {
                        padding: 0;
                        margin: 0;
                        padding-left: 1em;
                    }
                }
            }
        }

        .pages {
            display: flex;
            width: 100%;

            button {
                width: 100%;
                padding: 5px;
            }
        }

        .controls {
            width: 100%;
            margin: 0 auto;
            text-align: center;

            button {
                padding: 5px;
            }
        }
    }
}

.danger {
    color: red;
}

li.show>div,
li.show>p {
    color: red;
    visibility: hidden;
    display: none;
}