@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//colors
$primary-background-color: #272727;
$primary-font-color-orange: #FF652F;
$primary-font-color-yellow: #FFE400;
$primary-font-color-green: #14A76C;
$secondary-fond-color: #747474;
$primary-light-color: #FFFFFF;


//fonts
$font-header: 'Open Sans',
sans-serif;
$font-regular: 'Raleway',
sans-serif;
;

body {
    font-family: $font-regular;
    background-color: $primary-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
    color: $primary-font-color-green;
}

p {
    color: $primary-light-color;
}