@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

//colors
$primary-background-color: #272727;
$primary-font-color-orange: #FF652F;
$primary-font-color-yellow: #FFE400;
$primary-font-color-green: #14A76C;
$secondary-font-color: #747474;
$tertiary-font-color: #EBEDEE;
$primary-light-color: #FFFFFF;


//fonts
$font-header: OpenSans,
sans-serif;
$font-regular: Raleway,
sans-serif;
$font-code: monospace;
;

body {
    background-color: $primary-background-color;
    color: $primary-light-color;
    font-family: $font-regular;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
    color: $primary-font-color-green;
}

p {
    color: $primary-light-color;
    font-family: $font-regular;
}

figure {
    background-color: lighten($color: $primary-background-color, $amount: 0.5) ;
    border-radius: 4px;
    border: solid 1px $secondary-font-color;
    color: $primary-light-color;
    margin: 0.5em;
    padding: 0.5em;
}

pre,
code {
    font-family: monospace, monospace;
    font-size: small;
    margin: 0;
    padding: 0;
}

pre {
    overflow: auto;
}

pre>code {
    display: block;
    padding: 0.5em;
    word-wrap: normal;
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li:first-child {
            display: block;
        }

        li {
            border-bottom: 1px solid $secondary-font-color;
            display: none;
            padding: 0.6em 0.6em;

            a {
                text-decoration: none;
            }

            a:visited {
                color: $primary-font-color-green;
            }

            a:hover {
                color: $primary-font-color-orange;
                cursor: pointer;
            }

            a:active {
                color: $primary-font-color-yellow;
            }
        }
    }
}

/* Class selectors */
.open li {
    display: block;
}