.todo-container {
    background-color: #FFF;
    color: #000;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1em;
    margin: 1em;
    padding: 1em;
}

.todo-list {
    border: solid 1px darkgray;
    width: 100%;
}

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border: solid 1px darkgray;
    }
}

.todo-control {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 0.2em;
}

.btn {
    background: transparent;
    background-color: transparent;
    border: solid 1px darkgray;
    font-size: medium;
}

.todo-create,
.todo-btn {
    padding: 1em;
}

.todo-filter-btn {
    padding: 0.2em;
}

.todo-btn {
    cursor: pointer;
}